@charset "utf-8";
/* 
paleta de cores
verdes: #49a09d
lilas:  #5f2c82
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-image: linear-gradient(to top, #49a09d,#5f2c82);
    
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top:50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.615);

    transition: width 1s, height 1s;
    transition-timing-function:ease;
    transform: translate(-50%, -50%);
}
section#login > div#imagens{
    display: block;
    background: #5f2c82 url('../imagens/metal.jpg') no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left bottom;
}
section#login div#formulario{
    display: block;
    padding: 10px;

}
div#formulario h1{
    text-align: center;
    margin-bottom: 10px;

}
div#formulario p {
    font-size: 0.8em;
}
form div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
form label {
    display: none;

}
div.campo span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo input{
    background-color: #cafffe;
    font-size: 1em;
    padding: 4px;
    width:calc(100% - 45px);
    height: 100%;
    border: none;
    border-radius: 8px;
    transform: translateY(-12px);
}
div.campo input:focus-within{
    background-color: white;
    border: none;
}
form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#2f6866 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type=submit]:hover{
    background-color: #41c0bd;
}
form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: white;
    color: #1f4646;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;

}
form a.botao span{
    font-size: 0.8em;
}
form a.botao:hover{
    background-color: #49a09d;
}